<!-- RecipeApp/templates/base_auth.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Recipe App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Recipe Meal Planner</h1>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
